<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328834457993-7e2rdf8e3gbnh938oak7i7okdbr76cq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328834457993-7e2rdf8e3gbnh938oak7i7okdbr76cq3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>328834457993-jbd6v37p3lfghpqte8d9ct738gs6f1ct.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAuK-k2RaeBCl1QZ7iIU7AsD5SeoUl0_hM</string>
	<key>GCM_SENDER_ID</key>
	<string>328834457993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tyger.velogsample</string>
	<key>PROJECT_ID</key>
	<string>flutter-velog-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-velog-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328834457993:ios:c978cf923953818ce5c158</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-velog-sample-default-rtdb.firebaseio.com</string>
</dict>
</plist>